*{
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    font-family:  Verdana, sans-serif;
}

.screen{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.rightside{
    width: 50rem;
    padding: 5rem;
}
.rightside label{
    display: block;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.rightside input{
    width: 100%;
    border: 0.1rem solid #999;
    border-radius:0.5rem;
    padding: .8rem;
    outline:0;
}

.fazer-login{
    font-size:1.6rem;
    display: flex;
}

.fazer-login a{
    text-decoration: none;
    color: rgb(110, 110, 227);
}

.error{
    font-size:1.3rem;
    color: rgb(226, 74, 74);
    margin-top: 0.2rem;
}